<!DOCTYPE html>
<html>
    <header>
        <meta charset="utf-8">
        <title>LIST APP</title>
        <link rel="stylesheet" href="/public/css/style.css">
    </header>
    <body>
        <head class="head-banner"></head>
        <h1>Add new item</h1>
        <form action="/add" method="post">
            <p>content</p>
            <input type="text" name="content">
            <a href="/list">Back</a>
            <input type="submit" value="Add">
        </form>
    </body>
</html>